*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* nav-bars */
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 100px;
    height: 100px;
    border: none;
}
.nav-bars{
    flex: 1;
    text-align: right;
}
.nav-bars ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-bars ul li a{
    color: #333131;
    text-decoration: none;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav-bars ul li:hover::after{
    width: 100%;
}
.nav-bars ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
nav .ss{
    display: none;
}
/* details */
.detail{
    /* display: flex; */
    justify-content: center;
    margin-top: 4%;
    margin-right: 350px;
    /* background: #e7e7e7; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.de h1{
    margin-top: 4%;
}
.de{
    display: flex;
    justify-content: center;
    color: #f44336;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}

.detail li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    color: #504f4f;
    margin-left: 100px;
    
}

.horaire{
    display: flex;
    justify-content: end;
    margin-top: 5%;
}
.horaire h1{
    display: flex;
    justify-content: center;
    color: #f44336;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5em;
    margin-right: 50px;
}
.horaire p{ 
           font-family: Georgia, 'Times New Roman', Times, serif;
           font-size: 22px;
           color: #504f4f;
    margin-top: 4%;
}
.doc h1{
    display: flex;
    justify-content: center;
    color: #f44336;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5em;
    margin-right: 100px;
    margin-top: 8%;
    margin-right: 600px;
}
.doc li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    color: #504f4f;
    margin-left: 100px;
}

.frais p{
    display: flex;
    justify-content: end;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    color: #504f4f;
margin-top: 4%;
margin-right: 100px;
}
.frais h2{
    display: flex;
    justify-content: end;  
    color: #f44336;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5em;
    margin-right: 100px;
    margin-top: 8%;
    margin-right: 75px;
}
/* Tableau */

table{
    margin-left: 100px;
    background: #fff0f0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
table td {
    text-align: center;
    width: 250px;
    height: 60px;
}
table td p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(3, 18, 48);
    font-size: 20px;
}
/* Note */
.not p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(27, 32, 41);
    font-size: 20px; 
    margin-left: 100px;
}
.not button{
    background: rgb(190, 162, 0);
    border: none;
    border-radius: 20px;
    width: 120px;
    height: 45px;
    color: azure;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    margin-left: 100px;
}
.not button:hover{
    background: rgb(139, 138, 54);
    color: #333131;
}





/* footer */
footer{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

a{
    text-decoration: none;
    color: #a5a3a3;
}
.ff{
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #f44336;
}
.icon{
    font-size: 1.5em;
}