*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(12, 18, 46, 0.7),rgba(20, 30, 70, 0.7)),url(images/-10.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50px;
}
.nav-bars{
    flex: 1;
    text-align: right;
}
.nav-bars ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-bars ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav-bars ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-bars ul li:hover::after{
    width: 100%;
}
.text{
    width: 99%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10%;
    font-size: 62px;
}
.text p{
    margin: 10px 0 40px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #9b9090;
}

.hero{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #e05d5d;
    padding: 12px 34px;
    font-size: 18px;
    background: rgb(255, 145, 0);
    position: relative;
    cursor: pointer;
    border-radius: 25px;
    height: 60px;
    align-items: center;
}
.hero:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition:1s
}
nav .ss{
    display: none;
}
@media(max-width: 700px) {
    .text h1{
        font-size: 62px;
    }
    .nav-bars ul li{
        display: block;
    }
    .nav-bars{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .ss{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
     
}
/* visions */
.objectif{
    background-color: rgb(245, 240, 234);
    height: 850px;
}
.objectif .row{
    margin-top: 0;
}
.object-col{
    flex-basis: 25%;
    /* background: #cfcfcf; */
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    /* border: 3px solid rgb(248, 178, 178); */
    cursor: pointer;
}

.object-col h1{
    color: #e05d5d;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
}
.object-col p{
    color: rgb(111, 122, 122);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.sa{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.savoir{
    border: none;
    border-radius: 25px;
    width: 150px;
    color: aliceblue;
    height: 50px;
    background: rgb(172, 150, 103);
    cursor: pointer;
}
.savoir:hover{
    background: rgb(120, 145, 255);
}
.v{
    border-radius: 25px;
}
/* Programme */
.h1{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    color: #e05d5d;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.pro-col{
    flex-basis: 25%;
    background: #faf3f3;
    border-radius: 20px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    border: 3px solid rgb(255, 226, 172);
    cursor: pointer;
}
.pro-col h3{
    color: #e05d5d;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mast{
    display: flex;
    justify-content: center;
    background: #f44336;
    color: #9b9090;
    height: 100px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.pro-col button{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    color: wheat;
    background: #5d3437;
    border: 1px solid wheat;
    margin-top: 5%;
    cursor: pointer;
}
.pro-col button:hover{
    background: #e05d5d;
}


.row{
     margin-top: 5%;
     display: flex;
     justify-content: space-between;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.cours-col:hover{
    background: #f44336;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 700px) {
    .row{
        flex-direction: column;
    }
}

.row{
    display: flex;
    justify-content: space-around;
}

 /* .equipement */

.rows{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.equi-col{
    flex-basis: 20%;
    /* background: #4b345d; */
    border-radius: 15px;
    margin-bottom: 5%;
    margin-top: 5%;
    height: 500px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    border: 1px solid rgb(170, 156, 156);
    cursor: pointer;
}
.equi-col:hover{
    background: #9b9090;
}
.equi-col img{
    height: 200px;
    width: 350px;
    border: 1px solid rgb(170, 156, 156);
    border-radius: 15px;
}
.equi-col h3{
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #f44336;
}
.equi-col p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #292626;
}
.eq-for{
    display: flex;
    justify-content: center;
    
}
.eq-for{
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    color: #e05d5d;
}

/* Formateurs Expérimenté */

.forma-col{
    flex-basis: 20%;
    background:  #221a29;;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    border: 1px solid rgb(170, 156, 156);
    cursor: pointer;
    
}
.forma-col:hover{
    background: #668194;
}
.forma-col h2{
    color: azure;
}
.forma-col p{
    color: rgb(143, 165, 165);
}
.format h1{
    display: flex;
    justify-content: center;
    color: #e05d5d;
    font-size: 2rem;
    
}
.forma-col img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
.principal{
    display: flex;
    justify-content: space-around;
    border: 1px solid wheat;
    margin-left: 175px;
    margin-right: 175px;
    border-radius: 20px;
    height: 640px;
    background: rgb(31, 30, 30);
    cursor: pointer; 
    margin-top: 5%;
}
.principal:hover{
    background: #685d5d;
}
.principal h4{
    margin-top: 5%;
    color: antiquewhite;
    font-size: 1.3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.principal p{
    color: wheat;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.foto img{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 638px;
    width: 400px;
    margin-left: 140px;

    /* height: 600px; */
    /* width: 600px; */
}
.nombr{
    border: 1px solid wheat;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    background: #f44336;
    text-align: center;
    /* font-size: 1.5rem; */
}
.avan{
    display: flex;
    justify-content: center;
    font-size: 1.1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #e05d5d;
    margin-top: 3%;
}
.pr{
    margin-left: 50px;
}

/* Opportunité */

.table{
    display: flex;
    justify-content: center;
    margin-top: 5%; 
}
table{
    border-radius: 15px;
    background: #494141;
}
.opp{
    display: flex;
    justify-content: center;
    font-size: 1.4em;
    color: #e05d5d;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5%;
}
tr{
    height: 75px;  
    border: 5px solid rgb(102, 105, 110); 
    
}
td{
    width: 400px;
    text-align: center;
    /* background: #494141; */
    /* border-top-left-radius: 15px; */
    border: 2px solid rgb(252, 247, 239);
}
td h1{
    color: #f44336;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
}
td p{
    color: #cfc5c4;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* comment s'inscrire */

.comment{
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.6rem;
    color: green;
    margin-top: 10%;
}
.inscri h1{
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: #3f3c3c;
    margin-top: 3%;
}
.inscri p{
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #292626;
}
.inscri button{
    background: rgb(0, 98, 128);
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50px;
    color: wheat;
    font-size: 18px;
    cursor: pointer;
}
.inscri button:hover{
    background: rgb(85, 214, 85);
}
.inscri{
    border: 2px solid burlywood;
}
.bout{
    display: flex;
    justify-content: center;
}
/* footer */
footer{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

a{
    text-decoration: none;
    color: #a5a3a3;
}
.ff{
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #f44336;
}
.icon{
    font-size: 1.5em;
}